@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 26, 27, 30;
  --background-end-rgb: 26, 27, 30;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  background-image: url('../assets/bg1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.content-overlay {
  background: rgba(26, 27, 30, 0.75);
  backdrop-filter: blur(2px);
  min-height: 100vh;
} 